#register {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
input, select {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: 95%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
body {
  font-family: 'Courier New', Courier, monospace;
}
html {
 background-color: #9fe0ac;
}